.falconsection-1{
    background-image: url("https://www.spacex.com/static/images/backgrounds/f9_feature.webp");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
    font-family: sans-serif;
}

.falconsection-2{
    background-image: url("https://www.spacex.com/static/images/falcon-9/desktop/Merlin.webp");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh
}
