.section2{
    background-image: url("https://www.spacex.com/static/images/backgrounds-2022/eutelsat-hotbird-13g/post-launch/Homepage_Desktop.webp");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
    font-family: sans-serif;
}