.section4{
    background-image: url("https://www.spacex.com/static/images/backgrounds-2021/hls-resized-2.webp");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
    font-family: sans-serif;
    font-stretch: condensed;
}